footer.footer
  .footer__logo
    img(src='/img/logo.png' alt='Natour logo')
  ul.footer__nav
    li: a(href='/aboutus') About us
    li: a(href='#') Careers
    li: a(href='#') Contact
  .media 
    a(href='#')
     i.fab.fa-facebook.media-icon
    a(href='#')
      i.fab.fa-instagram.media-icon
    a(href='#')
      i.fab.fa-twitter.media-icon
    a(href='#')
      i.fab.fa-tiktok.media-icon